<ly-grid container [lyP]="2"   class="text-style" lyBg="#000000" >
<ly-grid item col>
    <ly-grid item  lyPx="3"  >
        <a [href]="twitterUrl" target="_blank" lyColor="primary">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </ly-grid>
    <ly-grid item  lyPx="3" >
        <a [href]="facebookUrl" target="_blank" lyColor="primary">
            <i class="fa-brands fa-facebook"></i>
        </a>
    </ly-grid>
    <ly-grid item  lyPx="3" >
        <a [href]="youtubeUrl" target="_blank" lyColor="primary">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </ly-grid>
    <ly-grid item  lyPx="3" >
        <a [href]="instagramUrl" target="_blank" lyColor="primary">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </ly-grid>
</ly-grid>
</ly-grid>