

.tns-light-bg {
    background-color: #FFE6AB;
}


.tns-item-width-100 {
    width: 100%;
}


.no-decorator {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: right;
}

.img-caption {
    font-size: small;
}

.serif-font {
    font-family: 'Lora';
    font-weight: 500;
    font-size: 18px;
}

.bold-font {
    font-weight: bold;
}

.link-format {
    text-decoration: none;
}

.white-text {
    color: white;
}

.added-margin-non-ly {
    padding-top: 15px;
    padding-bottom: 15px;
}


