<ly-toolbar appearance="dense" position="fixed" bg="primary" lyHeight="65px" >
    <a lyMx="2" routerLink="/courses"  l ly-button >
        <span lyColor="#fafafa" >Courses</span>
    </a>
    <a routerLink="/blog"   ly-button>
        <span lyColor="#fafafa">Blog</span>
    </a>
    <a routerLink="/programs"   ly-button>
        <span lyColor="#fafafa">Programs</span>
    </a>

    <a routerLink="/" class="shift-right">
        <img  src="/assets/imgs/logo_white_no_border.png" lyHeight="55px" lyWidth="45px" 
        alt="The New Statistician Logo">
    </a>
    
</ly-toolbar>